doctype html
html
  head
    title Home
    link(rel="stylesheet", href="/style.css")

  body
    include partials/header

    //  CAROUSEL
    if banners && banners.length > 0

      .carousel
        each b, i in banners
          .slide(class=i === 0 ? "active" : "")
            .quote-box
              h2 “#{b.text}”
              p - #{b.author}
    else
      p No banners found

    script.
      const slides = document.querySelectorAll(".slide");
      let index = 0;

      if (slides.length > 0) {
         setInterval(() => {
           slides.forEach(s => s.classList.remove("active"));
           index = (index + 1) % slides.length;
           slides[index].classList.add("active");
          }, 5000);
        }

  
    h1 Workout Categories 💪

    .grid
      if categories && categories.length > 0
        each cat in categories
          a.card(href=`/workout/${cat.name}`)
            .card-img
              if cat.image
                img(src=cat.image, alt=cat.name)
              else
                img(src="https://placehold.co/400x250/png?text=Workout")

            .card-body
              h2= cat.name
              p= cat.count + " exercises"
      else
        p Loading categories...
    include partials/footer